body {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
.container {
    width: 800px;
    display: block;
    margin: 0 auto;
    padding-top: 50px;

}
a {
    text-decoration: none;
}
.user{
    width: 200px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 5px 10px;
}

.user a{
    font-size: 18px;
    color: black;
}

.new_user {
    display: flex;
    justify-content: center;
    align-items: center;"
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    height: 25px;
}

.info {
    padding: 30px 10px 20px;
}

.info .info-item {
    font-size: 21px;
    margin-top: 4px;
}

.form {

}
.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-label {
    display: block;
    width: 150px;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}
.form-input {
    display: block;
    font-size: 19px;
    border-radius: 6px;
    padding: 3px 8px;
}
.form-btn {
    margin-top: 20px;
    display: block;
    margin-left: 160px;
    text-align: center;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.glow-on-hover {
    display: block;
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}